<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ ui_translations['title'][ui_lang] }} - 404</title>
		<link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
		<link rel="stylesheet" href= {{ url_for('static', filename='bootstrap.css') }} rel="stylesheet">
	</head>
	<body>
	<p style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 4vw; font-family: 'EB Garamond', serif">Quoth the raven, "404".</p>
	</body>
</html>
