<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ ui_translations['title'][ui_lang] }}</title>
		<style>
			#isbn { font-size: 2vw; }
			td { border: 1px solid; border-color: blue; padding: 5px; }
			.table_header { cursor: pointer; }
			#upper_section {background-color: rgba(121,252,156,0.5);}
		</style>
		<script src= {{ url_for('static', filename='mark.es6.js') }}></script>
		<script type="text/javascript">
			function show_book_addition() {
				document.getElementById("book_addition").removeAttribute("hidden");
				document.getElementById("isbn").setAttribute("hidden", "");
				document.getElementById("show_add_book").setAttribute("hidden","");
				document.getElementById("transact").setAttribute("hidden","");
				document.getElementById("isbn_new").focus();
			}
			function cancel_book_addition() {
				document.getElementById("book_addition").setAttribute("hidden","");
				document.getElementById("isbn").removeAttribute("hidden");
				document.getElementById("show_add_book").removeAttribute("hidden");
				document.getElementById("transact").removeAttribute("hidden");
				document.getElementById("isbn").focus();
			}
			//function transact() {
			//    let data = new FormData();
			//    p = document.getElementById("indicator");
			//    data.append("isbn", document.getElementById("isbn").value);
			//    fetch( "/", {
			//        "method": "POST",
			//        "body": data,
			//    }).then(response => response.json()).then(text => p.innerText=text);
			//}
			function colsort(n) {
				// Load table into array
				var book_table = document.getElementById("book_table");
				var t = Array();
				for (i=0; i < book_table.children.length; i++) {
					t.push(book_table.children[i]);
				}
				t = t.sort(function(a, b){return a.cells[n].innerText > b.cells[n].innerText;});
				// Write contents of t to original table;
				// works on Firefox but not on Edge for some reason
				for (i=0; i < book_table.children.length; i++) {
					book_table.appendChild(t[i]);
				}
			}
			function librarysearch(colnum) {
				var filter, table, rows, cell, i, textvalue;
				filter = document.getElementById("librarysearchterm_" + String(colnum)).value.toUpperCase();
				table = document.getElementById("book_table");
				rows = table.getElementsByTagName("tr");

				for (i=0; i<rows.length; i++) {
					cell = rows[i].getElementsByTagName("td")[colnum];
					if (cell) {
						textvalue = cell.textContent || cell.innerText;
						if (textvalue.toUpperCase().indexOf(filter) > -1) {
							rows[i].style.display = "";
						} else {
							rows[i].style.display = "none";
						}
					}
				}
			}
		</script>
	</head>
	<body>
		<noscript>
			{{ ui_translations['noscript'][ui_lang] }}
		</noscript>
		<div id="upper_section">    
			<h1 id="page_title" style="text-align: center;">{{ ui_translations['title'][ui_lang] }}</h1>
			<p style="text-align: right;">{{ ui_translations['page_generation_time_msg'][ui_lang] }}UTC {{ pagedate }}</p>
			<p style="text-align: left;">{{ ui_translations['current_user'][ui_lang] }}: {{ current_login }} (<a href="logout">{{ ui_translations['log_out'][ui_lang] }}</a>)</p>
			<form style="text-align: center;" method="POST" id="mainform">
				<input type="text" placeholder="ISBN" id="isbn" name="isbn" autofocus>
				<input type="hidden" id="current_user" name="current_user" value="{{ current_login }}">
				<button type="button" id="show_add_book" name="show_add_book" onClick="show_book_addition();" title="{{ ui_translations['add_book_form_button_title'][ui_lang] }}">{{ ui_translations['add_book_form_button_label'][ui_lang] }}</button>
				<!-- <input type="button" value="Check-out/Check-in" name="transact" onClick="transact();"> -->
				<button type="submit" id="transact" name="transact" title="{{ ui_translations['checkin_checkout_button_title'][ui_lang] }}">{{ ui_translations['checkin_checkout_button_label'][ui_lang] }}</button>
			</form>
			<div style="text-align: right;">
				<a href="/stats">{{ ui_translations['stats_label'][ui_lang] }}</a>
			</div>
			<form method="POST" action="/add" id="book_addition" hidden>
				<table style="margin: auto; width: auto;">
					<tr>
						<td><label>ISBN: </label></td>
						<td><input type="text" size="15" placeholder="ISBN" name="isbn_new" id="isbn_new" required autofocus></td>
					</tr>
					<tr>
						<td><label>{{ ui_translations['add_book_bookname_label'][ui_lang] }}</label></td>
						<td><input type="text" size="50" placeholder="{{ ui_translations['add_book_bookname_placeholder'][ui_lang] }}" name="bookname" id="bookname"></td>
					</tr>
					<tr>
						<td><label>{{ ui_translations['add_book_authorname_label'][ui_lang] }}</label></td>
						<td><input type="text" size="30" placeholder="{{ ui_translations['add_book_authorname_placeholder'][ui_lang] }}" name="author" id="author"></td>
					</tr>
					<tr>
						<td><label>{{ ui_translations['add_book_acquisitiondate_label'][ui_lang] }}</label></td>
						<td><input type="date" name="acquisition_date" id="acquisition_date"></td>
					</tr>
					<tr>
						<td><label>{{ ui_translations['add_book_source_label'][ui_lang] }}</label></td>
						<td><input type="text" size="50" placeholder="{{ ui_translations['add_book_source_placeholder'][ui_lang] }}" name="acquisition_location" id="acquisition_location" autocomplete></td>
					</tr>
					<tr>
						<td><label>{{ ui_translations['add_book_genre_label'][ui_lang] }}</label></td>
						<td><input type="text" size="30" placeholder="{{ ui_translations['add_book_genre_placeholder'][ui_lang] }}" name="genre" id="genre" autocomplete></td>
					</tr>
					<tr>
						<td><label style="color: red">{{ ui_translations['add_book_location_label'][ui_lang] }}</label></td>
						{% if shelves -%}
						<td>
							<select name="location" id="location" required>
							{% for room_name in shelves -%}
								<optgroup label="{{ room_name }}">
								{% for shelf_no in shelves[room_name] -%}
									<option value="{{ room_name }}, {{ shelf_no }}">{{ shelf_no }}</option>
								{% endfor -%}
								</optgroup>
							{% endfor -%}
							</select>
						</td>
						{% else -%}
						<td>
							<input type="text" placeholder="{{ ui_translations['add_book_location_placeholder'][ui_lang] }}" name="location" id="location" required>
						</td>
						{% endif -%}
					</tr>
					<input type="hidden" name="current_adding_user" id="current_adding_user" value="{{ current_login }}">
					<input type="hidden" name="checkout_status" id="checkout_status" value="checked in">
					<input type="hidden" name="transaction_date" id="transaction_date" value="[]">
					<div style="text-align: center;">
						<button type="submit" name="add_book" id="add_book" title="{{ ui_translations['add_book_button_title'][ui_lang] }}">{{ ui_translations['add_book_button_label'][ui_lang] }}</button>
						<button type="button" name="cancel_add_book" id="cancel_add_book" onClick="cancel_book_addition();" title="{{ ui_translations['cancel_add_book_button_title'][ui_lang] }}">{{ ui_translations['cancel_add_book_button_label'][ui_lang] }}</button>
					</div>
				</table>
			</form>
		</div>	
		<hr>
		{% with messages = get_flashed_messages() -%}
			{% if messages -%}
			<ul id="indicator" style="background-color: lavender;">
			{% for message in messages -%}
				{% if message in ui_translations -%}
				<li>{{ ui_translations[message][ui_lang] }}</li>
				{% else %}
				<li>{{ message }}</li>
				{% endif -%}
			{% endfor -%}
			</ul>
			{% endif -%}
		{% endwith -%}
		<hr>

		<!-- New book recommendations-->
		<h2 style="text-align: center;">{{ ui_translations['new_arrivals_header'][ui_lang] }}</h2>
		<div id="new_arrivals_table_div" style="overflow-x: auto;">
		</div>
		<hr>

		<h2 style="text-align: center;">{{ ui_translations['library_header'][ui_lang] }}</h2>
		<div style="overflow-x: auto;">
		<table style="width:100%">
			<!-- Generate table of books -->
			<thead>
			<tr class="table_header">
				<th onClick="colsort(0);">ISBN</th>
				<th onClick="colsort(1);">{{ ui_translations['book_table_name'][ui_lang] }}</th>
				<th onClick="colsort(2);">{{ ui_translations['book_table_author'][ui_lang] }}</th>
				<th onClick="colsort(3);">{{ ui_translations['book_table_language'][ui_lang] }}</th>
				<th onClick="colsort(4);">{{ ui_translations['book_table_publisher'][ui_lang] }}</th>
				<th onClick="colsort(5);">{{ ui_translations['book_table_pubyear'][ui_lang] }}</th>
				<th onClick="colsort(6);">{{ ui_translations['book_table_genre'][ui_lang] }}</th>
				<th onClick="colsort(7);">{{ ui_translations['book_table_acquisitiondate'][ui_lang] }}</th>
				<th onClick="colsort(8);">{{ ui_translations['book_table_source'][ui_lang] }}</th>
				<th onClick="colsort(9);">{{ ui_translations['book_table_location'][ui_lang] }}</th>
				<th onClick="colsort(10);">{{ ui_translations['book_table_lendstatus'][ui_lang] }}</th>
				<th onClick="colsort(11);">{{ ui_translations['book_table_lasttransaction'][ui_lang] }}</th>
				<th onClick="colsort(12);">{{ ui_translations['book_table_cover'][ui_lang] }}</th>
			</tr>
			<!-- Search bar -->
			<tr>
				{% for i in range(12) -%}
				<th><input type="text" name="librarysearchterm_{{ i }}" id="librarysearchterm_{{ i }}" onkeyup="librarysearch({{ i }});" placeholder="{{ ui_translations['searchbox_placeholder_label'][ui_lang] }}" /></th>
				{% endfor -%}
			</tr>
			<thead>
			<tbody id="book_table">
			{% if lib -%}
			{% for ISBN in lib -%}
			<tr class="book_row">
				<td>{{ ISBN }}</td>
				<td>{{ lib[ISBN]['BOOKNAME'] }}</td>
				<td>{{ lib[ISBN]['AUTHORS'] }}</td>
				<td>{{ lib[ISBN]['LANGUAGE'] }}</td>
				<td>{{ lib[ISBN]['PUBLISHER'] }}</td>
				<td>{{ lib[ISBN]['PUBLICATION_YEAR'] }}</td>
				<td>{{ lib[ISBN]['GENRES'] }}</td>
				<td>{{ lib[ISBN]['ACQUISITION_DATE'] }}</td>
				<td>{{ lib[ISBN]['ACQUISITION_LOCATION'] }}</td>
				<td style="color:blue">{{ lib[ISBN]['HOME_SHELF'] }}</td>
				{% if lib[ISBN]['BOOK_STATUS'] == 'checked out' -%}
				<td style="color:red; font-weight: bold;">{{ ui_translations['book_table_checkedout'][ui_lang] }}</td>
				{% elif lib[ISBN]['BOOK_STATUS'] == 'checked in' -%}
				<td style="color:green; font-weight: bold;">{{ ui_translations['book_table_checkedin'][ui_lang] }}</td>
			    {% else -%}
				<td> {{ lib[ISBN]['BOOK_STATUS'] }} </td>
				{% endif -%}
				<td>{{ lib[ISBN]['LAST_TRANSACTION'] }} ({{ lib[ISBN]['TRANSACTIONS'][-1]['USERNAME'] }})</td>
				<td><img src= {{ url_for('static', filename='covers/{}-M.jpg'.format(ISBN)) }}></td>
			</tr>
			{% endfor -%}
			{% endif -%}
			</tbody>
		</table>
		</div>
		<script type="text/javascript">
			var currentdate = new Date();
			var bookrows = document.getElementsByClassName('book_row');
			for (i=0; i < bookrows.length; i++) {
				// 1000*60*60*24=86400000
				if (
					(bookrows[i].cells[10].innerText == "{{ ui_translations['book_table_checkedout'][ui_lang] }}")
					&&
					// ISO 8601 time is 18 characters long; string is 0-indexed and substring function takes substring up *until* (excluding) 2nd arg (hence 19)
					((currentdate.getTime() - (Date.parse(bookrows[i].cells[11].innerText.substring(0, 19)))) / 86400000 > {{ past_due }} )
					) {
						alert("{{ ui_translations['past_due_openquote'][ui_lang] }}" + bookrows[i].cells[1].innerText + "{{ ui_translations['past_due_closequote'][ui_lang] }}" + "{{ ui_translations['past_due_main'][ui_lang] }}" + "{{ past_due }}" +"{{ ui_translations['past_due_end_days'][ui_lang] }}");
				}
			}
		</script>
		<script type="text/javascript">
			var currentdate = new Date();
			var bookrows = document.getElementsByClassName('book_row');
			var new_arrivals_table_div = document.getElementById('new_arrivals_table_div');
			const new_arrivals_table = document.createElement('table');
			const new_arrivals_table_row = new_arrivals_table.insertRow();

			for (i=0; i < bookrows.length; i++) {
				// 1000*60*60*24=86400000
				if (
					(currentdate.getTime() - (Date.parse(bookrows[i].cells[7].innerText))) / 86400000 <= {{ new_arrival }}
					) {
					var imgnode = document.createElement('img');
					imgnode.setAttribute('src', 'static/' + 'covers/' + bookrows[i].cells[0].innerText + '-' + '{{ cover_size }}' + '.jpg');
					imgnode.setAttribute('alt', bookrows[i].cells[1].innerText);
					var cell = new_arrivals_table_row.insertCell();
					cell.appendChild(imgnode);
				}
			}
			new_arrivals_table_div.appendChild(new_arrivals_table);
		</script>
	</body>
</html>
